*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display:block;
    position: relative;
}

body {
    background-color: #E6E6E6;
    color: #101010;
    line-height: 154%;
    margin: 0;
    overscroll-behavior: none;
}
.text {
    align-items: center;
    /* justify-content: center; */
}

.butty,
.button{
    width: 10%;
    /*background: red;*/
    margin: auto;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    font-size: 20px;
    color: #fff;
}

.butty,
.button a {

    text-decoration: none;
    padding: 6px 14px;
    font-size: 15px;
    margin: 5px 0 0 20px;
    display: inline-block;
    background: rgb(63, 63, 143);
    color: white;
}

p.star{
    margin: 5px auto;
    width: 65%;
    font-size: 25px;
    color: #808080;
    display:flex;
}